@import "tailwindcss/base";
@import "./custom-utilities.css";
@import "./menu.css";
@import "./gravity-form.css";
@import './typography.css';
@import './typography2.css';
@import "tailwindcss/components";
@import "tailwindcss/utilities";
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


@media only screen and (min-width: 600px) {
    #masonry-grid .wp-block-post {
        width: 25% !important;
    }

    #masonry-grid .wp-block-post:nth-child(3n+1) {
        width: 50% !important;
    }
}

#masonry-grid .wp-block-post > div {
    min-height: 100% !important;
    position: relative;
}

#masonry-grid .wp-block-post > div::before {
    content: "";
    padding-top: 100% !important;
}


/* ===== Scrollbar CSS ===== */
/* Firefox */
* {
    scrollbar-width: auto;
    scrollbar-color: #0084ff #ffffff;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
    width: 4px;
}

*::-webkit-scrollbar-track {
    background: transparent;
}

body {
    background-color: #424242;
}
*::-webkit-scrollbar-thumb {
    background-color: #686868;
    border-radius: 10px;
    /*border: 3px solid #ffffff;*/
}


@media only screen and (max-width: 1024px) {
    #map {
        max-height: 500px;
    }
}



#ui-datepicker-div {
    display: none;
}

input {
    -webkit-appearance: none;
}
select {
    -webkit-appearance: none;

}

.gfield_label {
    z-index: 2;
}
.ginput_container_select {
    position: relative;

}


/*#dynamic-post::before, #current-post::before {*/
/*    content: '';*/
/*    position: absolute;*/
/*    width: 500px;*/
/*    height: 100%;*/
/*    left: 0;*/
/*    top: 0;*/
/*    pointer-events: none;*/
/*    z-index: 2;*/
/*    @apply bg-gradient-to-r from-primary;*/
/*}*/
