@import "tailwindcss/base";
@import "./custom-base-styles.css";
@import "tailwindcss/components";
@import "./custom-components.css";
@import "tailwindcss/utilities";
@import "./custom-utilities.css";
@import "./menu.css";
@import "./lib/gravity-form.css";
/*@import './typography.css';*/
@import './typo.css';
/*@import './typography2.css';*/

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


@media only screen and (min-width: 600px) {
    #grid .wp-block-post {
        width: 25% !important;
    }

    #grid .wp-block-post:nth-child(3n+1) {
        width: 50% !important;
    }
}

#grid .wp-block-post > div {
    min-height: 100% !important;
    position: relative;
}

#grid .wp-block-post > div::before {
    content: "";
    padding-top: 100% !important;
}


/* ===== Scrollbar CSS ===== */
/* Firefox */
* {
    scrollbar-width: auto;
    scrollbar-color: #0084ff #ffffff;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
    width: 8px;
}

*::-webkit-scrollbar-track {
    background: #1F5C99;
}

body {
    background-color: #424242;
}

*::-webkit-scrollbar-thumb {
    @apply bg-secondary;
    /*background-color: #686868;*/
    border-radius: 10px;
    /*border: 3px solid #ffffff;*/
}


@media only screen and (max-width: 1024px) {
    #map {
        max-height: 500px;
    }
}


#ui-datepicker-div {
    display: none;
}

input {
    -webkit-appearance: none;
}

select {
    -webkit-appearance: none;

}

.gfield_label {
    z-index: 2;
}

.ginput_container_select {
    position: relative;

}


/*#dynamic-post::before, #current-post::before {*/
/*    content: '';*/
/*    position: absolute;*/
/*    width: 500px;*/
/*    height: 100%;*/
/*    left: 0;*/
/*    top: 0;*/
/*    pointer-events: none;*/
/*    z-index: 2;*/
/*    @apply bg-gradient-to-r from-primary;*/
/*}*/
html {
    scroll-behavior: smooth;
}

.wp-block-custom-slide {
    position: relative;
}

.wp-block-custom-slide:hover::before {
    opacity: 0;
}

/*.wp-block-custom-slide::before {*/
/*    content: '';*/
/*    transition: 250ms opacity ease-in-out;*/
/*    position: absolute;*/
/*    left: 0;*/
/*    top: 0;*/
/*    background-size: cover;*/
/*    border-radius: 0.5rem;*/
/*    pointer-events: none;*/
/*    width: 100%;*/
/*    height: 100%;*/
/*    z-index: 2;*/
/*    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' id='Calque_2' data-name='Calque 2' viewBox='0 0 390 220'%3E%3Cdefs%3E%3Cstyle%3E .cls-1 %7B fill: url(%23linear-gradient); %7D %3C/style%3E%3ClinearGradient id='linear-gradient' x1='0' y1='110' x2='390' y2='110' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%23000' stop-opacity='.8'/%3E%3Cstop offset='1' stop-color='%23000' stop-opacity='0'/%3E%3C/linearGradient%3E%3C/defs%3E%3Cg id='Form'%3E%3Crect class='cls-1' width='390' height='220' rx='8' ry='8'/%3E%3C/g%3E%3C/svg%3E");*/
/*}*/

#hero-section .top {

}

/*#hero-section .top::after {*/
/*    content: '';*/
/*    transition: 250ms opacity ease-in-out;*/
/*    position: absolute;*/
/*    right: -50px;*/
/*    top: 0;*/
/*    background-size: cover;*/

/*    pointer-events: none;*/
/*    width: 50px;*/
/*    height: 100%;*/
/*    z-index: 2;*/
/*    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' id='Calque_2' data-name='Calque 2' viewBox='0 0 100 1080'%3E%3Cdefs%3E%3Cstyle%3E .cls-1 %7B fill: url(%23linear-gradient); %7D %3C/style%3E%3ClinearGradient id='linear-gradient' x1='0' y1='540' x2='100' y2='540' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%23000' stop-opacity='.5'/%3E%3Cstop offset='.301' stop-color='%23000' stop-opacity='0'/%3E%3C/linearGradient%3E%3C/defs%3E%3Cg id='TXT_accueil' data-name='TXT accueil'%3E%3Crect class='cls-1' width='100' height='1080'/%3E%3C/g%3E%3C/svg%3E");*/
/*}*/


h3 + h4 {
    margin-bottom: 1.5rem;
}


.wp-block-custom-slide h3 {
    font-size: 21px !important;
}


.grid {
    width: 100%;
}

.grid-item > div {


   border-radius: 0 !important;
}



@media only screen and (max-width: 782px) {
    #grid .grid-item {
        width: 100% !important;
    }
}

#grid .grid-item {
    width: 25%;
}

#grid .grid-sizer, .grid-item {
    width: 25%;
}

#grid .grid-item--width {
    width: 25%;
}

#grid .grid-item--width2 {
    width: 50%;
}

#grid .grid-item--height2 {

}

#grid .grid-item--width2-height2 {
    width: 50%;
    aspect-ratio: 1;
}
