.d-none {
    display: none !important;
}

.swiper-container-free-mode > .swiper-wrapper {
    transition-timing-function: linear;
}


.nav-links {
    @apply flex justify-between py-12 text-primary gap-4
}


.nav-next {
    @apply text-right
}

body {
    overflow-x: hidden;
}

.video-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    overflow: hidden;
    margin: 0 !important;
}

.video-wrapper iframe {
    width: 100vw;
    height: 56.25vw;
    min-height: 100vh;
    min-width: 177.77vh;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.layer-handle {
    width: 65px;
    height: 65px;
    z-index: 3;
    background-size: contain;
    position: absolute;
    background-repeat: no-repeat;
    top: calc(50% - 65px);
    right: calc(10% - 65px);
    margin-block-start: 0 !important;
    transform: translate(-50%, 50%);
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='45' height='45' viewBox='0 0 45 45' fill='none'%3E%3Cpath d='M45 22.5C45 34.9264 34.9264 45 22.5 45C10.0736 45 0 34.9264 0 22.5C0 10.0736 10.0736 0 22.5 0C34.9264 0 45 10.0736 45 22.5Z' fill='white'/%3E%3Cpath d='M8.51348 23.1081L17.6351 16.7885V29.4278L8.51348 23.1081Z' fill='%2332c5f4'/%3E%3Cpath d='M37.7027 23.1081L28.581 29.4278V16.7885L37.7027 23.1081Z' fill='%2332c5f4'/%3E%3C/svg%3E");
}

/* admin bar fix */
body.admin-bar {
    max-height: calc(100vh - 32px);
}

body {
    @apply text-primary;
}

:root {
    --font-family-sans: 'Poppins', sans-serif;
}


.col-sm-reverse {
    @apply max-md:flex-col-reverse;
}

.screen-reader-text {
    clip: rect(1px, 1px, 1px, 1px);
    word-wrap: normal !important;
    border: 0;
    -webkit-clip-path: inset(50%);
    clip-path: inset(50%);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}
